* {
  box-sizing: border-box;
  background-color: chocolate;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 1.5rem;
}

header {
  text-align: center;
}

footer {
  text-align: center;
}
